.navigation {
    // border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        font-weight: 500;
    }
    .links {

        .link {
            margin-left: 40px;
            color: rgb(170, 168, 168);
        }
        .active {
            color: white;
        }
    }
}