<nav class="navigation">
    <!-- <div class="container"> -->
        <h1 class="title">Space Travel</h1>
        <span class="links">
            <a class="link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">HOME</a>
            <a class="link" routerLink="/destinations"  routerLinkActive="active">THE DESTINATIONS</a>
            <a class="link" routerLink="/experience"  routerLinkActive="active">THE EXPERIENCE</a>
            <a class="link" routerLink="/about"  routerLinkActive="active">ABOUT</a>
        </span>
    <!-- </div> -->

</nav>