.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content {
    background-color: rgba(37, 32, 32, 0.4);
    border: 1px solid rgb(41, 34, 34);
    padding: 10px 20px;
    // padding: 100px 200px;
    max-width: 440px;

    .btnModal {
        background-color: rgba(37, 32, 32, 0.7);
        border: 1px solid rgb(56, 50, 50);
        padding: 15px 30px;
        color: white;
        margin-top: 20px;
    }
}